# env
.env*

# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
dist/apis/auth/auth.controller.d.ts
dist/apis/auth/auth.controller.js.map
dist/apis/auth/auth.module.js
dist/apis/auth/auth.module.js.map
dist/apis/auth/auth.service.d.ts
dist/apis/auth/auth.service.js
dist/apis/auth/auth.service.js.map
dist/apis/auth/jwt-access.strategy.d.ts
dist/apis/auth/jwt-access.strategy.js
dist/apis/auth/jwt-access.strategy.js.map
dist/apis/auth/jwt-refresh.strategy.d.ts
dist/apis/auth/jwt-refresh.strategy.js
dist/apis/auth/jwt-refresh.strategy.js.map
dist/apis/auth/jwt-social-google.strategy.d.ts
dist/apis/auth/jwt-social-google.strategy.js
dist/apis/auth/jwt-social-google.strategy.js.map
dist/apis/auth/jwt-social-kakao.strategy.d.ts
dist/apis/auth/jwt-social-kakao.strategy.js
dist/apis/auth/jwt-social-kakao.strategy.js.map
dist/apis/auth/jwt-social-naver.strategy.d.ts
dist/apis/auth/jwt-social-naver.strategy.js
dist/apis/auth/jwt-social-naver.strategy.js.map
dist/apis/user/dto/oauth-user.dto.d.ts
dist/apis/user/dto/oauth-user.dto.js
dist/apis/user/dto/oauth-user.dto.js.map
dist/apis/user/dto/user.dto.d.ts
dist/apis/user/dto/user.dto.js
dist/apis/user/dto/user.dto.js.map
dist/tsconfig.build.tsbuildinfo
